
.headers {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 5px;
}

.titleColumn{
    margin-left: 10px;
}

.albumColumn {
    margin-right: 10px;
}

.thin {
    font-weight: 100;
}