.Track {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(256, 256, 256, 0.8);
}

.Track:hover {
    transition: all 0.3s ease-in-out;
    border: 1px solid rgba(108, 65, 233, 0.7);
    border-radius: 5px;
    outline: none;
    box-shadow: 0 0 10px rgba(108, 65, 233, 0.7);
}

.Track-action {
    cursor: pointer;
    padding: 0.5rem;
    font-size: 1.05rem;
    transition: color 0.25s;
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
}

.Track-action:hover {
    color: rgba(265, 265, 265, 0.5);
}

.Track-information {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    height:auto;
}

.Track-information h3 {
    margin-bottom: 0.22rem;
}

.Track-information p {
    font-size: 0.83rem;
    font-weight: 300;
    color: rgba(256, 256, 256, 0.8);
}
